<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Recipes</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.9/react-bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">Log out</a><a href="/yummly">Search Recipes</a><a href="/maker" id="addRecipe">Add Recipe</a></div>
  </nav>
  <div id="content"></div>
  <section id="makeRecipe">
  </section>
  <section id="recipes">
  </section>
  <div id="recipeMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>