<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Search</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.9/react-bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">Log out</a><a href="/maker" style="display: none" id="addRecipe"></a><a href="/maker">Recipe Book</a></div>
  </nav>
  <section id="searchPanel">
  </section>
  <section id="searchResults">
  </section>
</body>
    <script src="/assets/searchbundle.js"></script>

</html>