html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

nav {
    width: 100%;
    height: 50px;
    background-color: orange;
    display: inline-block;

}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: black;
    display: inline-block;
    font-size: 1.3em;
    float: left;
}


.textName {
  font-size: 1.6em;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2px;
}
.textIngr, .textNotes {
  font-size: 1.2em;
  white-space: pre-wrap;
}

#showBtn {
  float: right;
  display: inline-block;
}

#listFooter {
  padding-bottom: 0;
}

#recipeCont {
  height: auto;
}
.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-right: 20px;
    float: left;
    border-radius: 4px;
    color: white;
    transition: color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    color: black;
}

