html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

nav {
 width: 100%;
 height: 65px;
 background-color: white;
 box-shadow: 1px 1px 2px #888888;
}

.navlink > a{
  padding-left: 25px;
  color: #737373;
}

#title {
  margin: 0 auto;
  float: left;
  margin-top: -4px;
  font-size: 25px;
  color: orange;
  margin-right: 30px;
}

a:focus, a:hover {
  color: orange;
}

.navlink {
  padding: 20px 30px 20px 30px;
  width: 100%;
  height: 100%;
}
/*
.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: black;
    display: inline-block;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-right: 20px;
    float: left;
    border-radius: 4px;
    color: white;
    transition: color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    color: black;
}*/

#accountBtn {
  margin-top: -10px;
  float: right;
}

.nav>li>a {
  color: #737373;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: white;
}

#accountDrop>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: orange;
  color: white;
}

#accountDrop {
  left: -40px;
  padding: 10px 0 10px 0;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {   background-color: white;
}
#editbtn {
  padding: 3.5px 10px; 
}

#loginPanel {
  width: 500px;
  margin: 0 auto;
  align-content: center;
  margin-top: 30px;
}

#searchPanel {
  width: 500px;
  margin: 0 auto;
  align-content: center;
  margin-top: 30px;
}

#searchResults {
  margin: 35px;
}
#sBtn {
  float: right;
}

.panel {
  margin-bottom: 0;
  position: relative;
  width: 280px;
}


.searchList {
  width: 100%;
  -webkit-column-count: 4;
  -webkit-column-gap: 5px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 5px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 5px;
  column-fill: auto;
}

.grid-item {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  padding: 5px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
}

#showSearchBtn {
  position: absolute;
  left: 85%;
  top:15px;
}

#dietsDropDown, #allergiesDropDown, #cuisineDropDown {
  margin-top: 10px;
  margin-right: 10px;
}

#dietHolder, #allergyHolder, #cuisineHolder {
  margin-left: 10px;
}

.textName {
  font-size: 1.6em;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 10px;
  text-align: left;
  width: 80%;
  height: auto;
}

#searchImg {
  align-content: center;
  text-align: center;
  margin: 0 auto;
  float: none;
  width: 80%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.textIngr, .textNotes {
  font-size: 1.2em;
  white-space: pre-wrap;
}

#showBtn {
  float: right;
  display: inline-block;
}


#searchBar {
  height: 100%;
  width: 100%;
}

.recipe {
  width: 280px;
  margin: 0 auto;
}

#recipes {
  margin: 10px 10px 10px 10px;
}

#listFooter {
  padding-bottom: 0;
}
#contentLogin {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-content: center;
  margin-top: 30px;
}
#errorMessage {
  text-align: center;
  margin: 0 auto;
  align-content: center;
  margin-top: 30px;
  display:none;

}
#recipeCont {
  height: auto;
}

.emptyRecipe {
  align-content: center;
  text-align: center;
}

#errMsg {
  text-align: center;
}

